/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑';
}

fieldset, img, input, button {
    /*border: none;*/
    padding: 0;
    margin: 0;
    outline-style: none;  /*外面环绕线*/
}

a {
    text-decoration:none; /* 去掉下划线 */
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    /*字体的自动识别*/
}
select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;  /*不可以随意拖动*/
}
img{
    display: block;
}
table {
    border-collapse: collapse; /*合并外连线*/
}